[user]
  email = o.hannonen@icloud.com
  name = Onnimanni Hannonen
[filter "lfs"]
  process = git-lfs filter-process
  required = true
  clean = git-lfs clean -- %f
  smudge = git-lfs smudge -- %f
[core]
  editor = code --wait
  # Don't paginate output by default
  pager = cat
[diff]
  # Use VSCode as default diff tool when running `git diff-tool`
  tool = vscode
[difftool "vscode"]
  cmd = code --wait --diff $LOCAL $REMOTE
[pager]
  branch = false
[pull]
  rebase = false
[alias]
  # Deletes a file from git history
  erase-file = filter-repo --invert-paths --path

  # List available aliases
  aliases = !git config --get-regexp alias | sed -re 's/alias\\.(\\S*)\\s(.*)$/\\1 = \\2/g'

  # Zip from HEAD  
  zip = archive --format=zip HEAD

  # Display tree-like log, because default log is a pain…
  lg = log --graph --date=relative --pretty=tformat:'%Cred%h%Creset -%C(auto)%d%Creset %s %Cgreen(%an %ad)%Creset'
 
  # Useful when you have to update your last commit
  # with staged files without editing the commit message.
  oops = commit --amend --no-edit

  # Edit last commit message
  reword = commit --amend

  # Undo last commit but keep changed files in stage
  uncommit = reset --soft HEAD~1
  
  # Remove file(s) from Git but not from disk
  untrack = rm --cache --
[push]
  # Default push should only push the current branch to its push target, regardless of its remote name
  default = upstream
  autoSetupRemote = true
[color]
  # Enable colors in color-supporting terminals
  ui = auto
